{% extends 'main/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Cursos - Novo{% endblock %}
{% block page_title %}Lista de presença{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'class/css/class.css' %}"> {% endblock %}

{% block content %}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title my-auto">Exportar lista de presença</h5>
    </div>
    <div class="card-body">
        <form action={% url 'attendance_list' %} method="POST" id="class-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="class_id">Selecione um curso</label>
                        <select name="class_id" id="class_id" class="form-control" aria-invalid="false">
                            {% for class in classes %}
                            <option value="{{class.id}}">[{{class.anac_id}}] {{class.name_class}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row divisor mt-3">
                <div class="col-md-12 mb-3">
                    <h5>
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                        Informações do curso selecionado
                    </h5>
                </div>
            </div>
            {% for class in classes %}
            <div class="row info-class" id="{{class.id}}" style="display: none;">
                <div class="col-md-12 m">
                    <label for="period">
                        Nome do curso selecionado:
                    </label>
                    <p>
                        {{class.name_class}}
                    </p>
                </div>
                <div class="col-md-3">
                    <label for="period">
                        Período do curso:
                    </label>
                    <p>
                        {{class.get_class_period}}
                    </p>
                </div>
                <div class="col-md-3">
                    <label for="period">
                        Instrutor:
                    </label>
                    <p>
                        {{class.instructor}}
                    </p>
                </div>
                <div class="col-md-3">
                    <label for="period">
                        Data:
                    </label>
                    <p>
                        {{class.initial_date| date:"d/m/Y"}} - {{class.finish_date| date:"d/m/Y"}}
                    </p>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-12 text-right mt-4">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-file" aria-hidden="true"></i>
                        Exportar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %} <script src="{% static 'class/js/class.js' %}"></script> {% endblock %}