{% extends 'main/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Cursos - Editar{% endblock %}
{% block page_title %}<i class="fas fa-edit"></i> Editando o curso: {{ class.name_class | truncatewords:5 }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'class/css/class.css' %}"> {% endblock %}

{% block content %}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title my-auto">Informações do cursos</h5>
        <div class="card-tools d-flex">
            <!-- <p class="my-auto mr-3">Quantidade de alunos: 10</p> -->
            <a href="/class/create" class="btn btn-primary"><i class="fas fa-plus"></i> Novo</a>
        </div>
    </div>
    <div class="card-body">
        <form method="POST" id="class-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="class-id">ID</label>
                        {% render_field class_form.anac_id type="text" class="form-control" id="class-id" placeholder="ID da ANAC" %}
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="class-name">Nome do curso</label>
                        {% render_field class_form.name_class type="text" class="form-control" id="class-name" placeholder="Insira o nome do curso" %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="teacher-name">Instrutor do curso</label>
                        {% render_field class_form.instructor class="form-control" id="teacher-name" %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="class-id">Carga-horária (horas)</label>
                        {% render_field class_form.workload type="text" class="form-control" id="class-workload" placeholder="Ex. 12" %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="teacher-name">Período</label>
                        {% render_field class_form.period class="form-control" id="period" %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Data inicial</label>
                        <div class="input-group date" data-target-input="nearest">
                            {% render_field class_form.initial_date type="text" class="form-control datetimepicker-input" id="initial-date" data-toggle="datetimepicker" data-target="#initial-date" %}
                            <div class="input-group-append" data-target="#initial-date" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Data final</label>
                        <div class="input-group date" data-target-input="nearest">
                            {% render_field class_form.finish_date type="text" id="final-date" class="form-control datetimepicker-input" data-toggle="datetimepicker" data-target="#final-date" %}
                            <div class="input-group-append" data-target="#final-date" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row divisor mt-3">
                <h5 class="col-md-12 mb-4">Informações do endereço</h5>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="class-zipcode">CEP</label>
                        <div class="input-group">
                            {% render_field class_form.zipcode type="text" class="form-control" id="class-zipcode" placeholder="Insira o CEP" %}
                            <span class="input-group-append">
                                <button class="btn btn-primary" id="search-zipcode">
                                    <i class="fas fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="class-neighbourhood">Bairro</label>
                        {% render_field class_form.neigh type="text" class="form-control" id="class-neighbourhood" placeholder="Insira o bairro" %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="class-city">Cidade</label>
                        {% render_field class_form.city type="text" class="form-control" id="class-city" placeholder="Insira a cidade" %}
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="class-address">Endereço</label>
                        {% render_field class_form.address type="text" class="form-control" id="class-address" placeholder="Insira o nome da rua" %}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="class-number">Número</label>
                        {% render_field class_form.number type="number" class="form-control" id="class-number" placeholder="Insira o número" %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right mt-4">
                    <button type="reset" onclick="clear_class_form()" class="btn btn-secondary">
                        <i class="fas fa-eraser"></i> Limpar
                    </button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title my-auto">Alunos nesse curso</h5>
    </div>
    <div class="card-body">
        <table id="student-class-list" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nome do aluno</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Cidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.name | title }}</td>
                    <td>{{ student.cpf }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.primary_phone }}</td>
                    <td>{{ student.city | title }}</td>
                    <td class="text-center">
                        <a href="student/edit/{{ student.id }}" title="Visualizar" data-toggle="tooltip" data-placement="top">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Nome do aluno</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Cidade</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock content %}

{% block script %} <script src="{% static 'class/js/class.js' %}"></script> {% endblock %}