asgiref==3.5.0
autopep8==1.6.0
colorama==0.4.4
dj-database-url==0.5.0
Django==4.0.3
django-adminlte3==0.1.6
django-heroku==0.3.1
django-widget-tweaks==1.4.12
gunicorn==20.1.0
mysqlclient==2.1.0
pdfkit==1.0.0
psycopg2==2.9.3
pycodestyle==2.8.0
sqlparse==0.4.2
termcolor==1.1.0
toml==0.10.2
tzdata==2022.1
whitenoise==6.2.0
