{% extends 'main/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Aluno - Editar{% endblock %}
{% block page_title %}<i class="fas fa-user-graduate"></i> Aluno: {{ student.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'student/css/student.css' %}"> {% endblock %}

{% block content %}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title my-auto">Análise de documentação do aluno</h5>
        <div class="card-tools">
            {% if student.ready_documents %}
            <a href={% url 'ready_documents' student.id 0 %} class="btn btn-warning"><i class="fas fa-clock"></i> </a>
            {% else %}
            <a href={% url 'ready_documents' student.id 1 %} class="btn btn-success"><i class="fas fa-check"></i>
                Aprovar todos</a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <form action={% url 'status_update' student.id %} method="POST" id="status_doc_update">
            {% csrf_token %}

            <input type="hidden" name="student" value="{{ student.id }}">
            <div class="row">
                <div class="col-md-12">
                    <h5>Ficha de inscrição</h5>
                    <p>
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                        Baixe aqui a ficha de inscrição do aluno com as informações preenchidas no cadastro. (SEM
                        ASSINATURA)
                    </p>
                    <a href="/media/student/{{student.id}}/ficha_cadastral_tramite.pdf" class="btn btn-success"
                        download>
                        <i class="fas fa-download" aria-hidden="true"></i>
                        Baixar ficha sem assinatura
                    </a>
                </div>

                <!-- registration -->
                <div class="col-md-12 divisor mt-3 divisor mt-4">
                    <label for="doc-registration_form">Ficha de matrícula</label>

                    {% if documents.registration_form %}
                    <div class="row" id="edit-registration_form">
                        <div class="col-md-9">
                            {% if status.registration_form == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.registration_form_name}}
                            </p>
                            {% elif status.registration_form == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.registration_form_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.registration_form_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.registration_form.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.registration_form %}
                            <input type="hidden" name="registration_form" value="{{ status.registration_form }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-registration_form">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.registration_form_observation class="form-control" id="registration_form-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- identity -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-identity">Documento de identidade (RG e CPF)</label>

                    {% if documents.identity %}
                    <div class="row" id="edit-identity">
                        <div class="col-md-9">
                            {% if status.identity == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.identity_name}}
                            </p>
                            {% elif status.identity == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.identity_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.identity_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.identity.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.identity %}
                            <input type="hidden" name="identity" value="{{ status.identity }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-identity">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.identity_observation class="form-control" id="identity-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- cnh -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-cnh">Carteira Nacional de Habilitação (CNH)</label>

                    {% if documents.cnh %}
                    <div class="row" id="edit-cnh">
                        <div class="col-md-9">
                            {% if status.cnh == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.cnh_name}}
                            </p>
                            {% elif status.cnh == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.cnh_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.cnh_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.cnh.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.cnh %}
                            <input type="hidden" name="cnh" value="{{ status.cnh }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-cnh">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.cnh_observation class="form-control" id="cnh-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- criminal -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-criminal">Certidão Criminal do Tribunal de Justiça Estadual</label>

                    {% if documents.criminal %}
                    <div class="row" id="edit-criminal">
                        <div class="col-md-9">
                            {% if status.criminal == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.criminal_name}}
                            </p>
                            {% elif status.criminal == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.criminal_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.criminal_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.criminal.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.criminal %}
                            <input type="hidden" name="criminal" value="{{ status.criminal }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-criminal">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.criminal_observation class="form-control" id="criminal-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- distribution_criminal -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-distribution_criminal">Certidão de Distribuição para Fins Gerais do Tribunal de Justiça Federal</label>

                    {% if documents.distribution_criminal %}
                    <div class="row" id="edit-distribution_criminal">
                        <div class="col-md-9">
                            {% if status.distribution_criminal == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.distribution_criminal_name}}
                            </p>
                            {% elif status.distribution_criminal == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.distribution_criminal_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.distribution_criminal_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.distribution_criminal.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.distribution_criminal %}
                            <input type="hidden" name="distribution_criminal" value="{{ status.distribution_criminal }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-distribution_criminal">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.distribution_criminal_observation class="form-control" id="distribution_criminal-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- basic_avsec_certificate -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-basic_avsec_certificate">Certificado do curso Básico Avsec</label>

                    {% if documents.basic_avsec_certificate %}
                    <div class="row" id="edit-basic_avsec_certificate">
                        <div class="col-md-9">
                            {% if status.basic_avsec_certificate == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.basic_avsec_certificate_name}}
                            </p>
                            {% elif status.basic_avsec_certificate == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.basic_avsec_certificate_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.basic_avsec_certificate_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.basic_avsec_certificate.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.basic_avsec_certificate %}
                            <input type="hidden" name="basic_avsec_certificate" value="{{ status.basic_avsec_certificate }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-basic_avsec_certificate">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.basic_avsec_certificate_observation class="form-control" id="basic_avsec_certificate-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- cnv -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-cnv">Carteira Nacional de Vigilante (CNV)</label>

                    {% if documents.cnv %}
                    <div class="row" id="edit-cnv">
                        <div class="col-md-9">
                            {% if status.cnv == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.cnv_name}}
                            </p>
                            {% elif status.cnv == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.cnv_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.cnv_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.cnv.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.cnv %}
                            <input type="hidden" name="cnv" value="{{ status.cnv }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-cnv">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.cnv_observation class="form-control" id="cnv-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- pilot_license -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-pilot_license">Habilitação de piloto ou comissaria</label>

                    {% if documents.pilot_license %}
                    <div class="row" id="edit-pilot_license">
                        <div class="col-md-9">
                            {% if status.pilot_license == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.pilot_license_name}}
                            </p>
                            {% elif status.pilot_license == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.pilot_license_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.pilot_license_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.pilot_license.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.pilot_license %}
                            <input type="hidden" name="pilot_license" value="{{ status.pilot_license }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-pilot_license">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.pilot_license_observation class="form-control" id="pilot_license-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- forwarding_in_service -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-forwarding_in_service">Carta de encaminhamento em serviço</label>

                    {% if documents.forwarding_in_service %}
                    <div class="row" id="edit-forwarding_in_service">
                        <div class="col-md-9">
                            {% if status.forwarding_in_service == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.forwarding_in_service_name}}
                            </p>
                            {% elif status.forwarding_in_service == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.forwarding_in_service_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.forwarding_in_service_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.forwarding_in_service.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.forwarding_in_service %}
                            <input type="hidden" name="forwarding_in_service" value="{{ status.forwarding_in_service }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-forwarding_in_service">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.forwarding_in_service_observation class="form-control" id="forwarding_in_service-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- work_card -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-work_card">Cópia da carteira de trabalho</label>

                    {% if documents.work_card %}
                    <div class="row" id="edit-work_card">
                        <div class="col-md-9">
                            {% if status.work_card == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.work_card_name}}
                            </p>
                            {% elif status.work_card == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.work_card_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.work_card_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.work_card.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.work_card %}
                            <input type="hidden" name="work_card" value="{{ status.work_card }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-work_card">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.work_card_observation class="form-control" id="work_card-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- avsec_certificate -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-avsec_certificate">Certificado de formação Avsec</label>

                    {% if documents.avsec_certificate %}
                    <div class="row" id="edit-avsec_certificate">
                        <div class="col-md-9">
                            {% if status.avsec_certificate == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.avsec_certificate_name}}
                            </p>
                            {% elif status.avsec_certificate == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.avsec_certificate_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.avsec_certificate_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.avsec_certificate.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.avsec_certificate %}
                            <input type="hidden" name="avsec_certificate" value="{{ status.avsec_certificate }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-avsec_certificate">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.avsec_certificate_observation class="form-control" id="avsec_certificate-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- certified_high_school -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-certified_high_school">Comprovante de conclusão de ensino médio</label>

                    {% if documents.certified_high_school %}
                    <div class="row" id="edit-certified_high_school">
                        <div class="col-md-9">
                            {% if status.certified_high_school == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.certified_high_school_name}}
                            </p>
                            {% elif status.certified_high_school == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.certified_high_school_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.certified_high_school_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.certified_high_school.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.certified_high_school %}
                            <input type="hidden" name="certified_high_school" value="{{ status.certified_high_school }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-certified_high_school">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.certified_high_school_observation class="form-control" id="certified_high_school-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>

                <!-- proof_of_address -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-proof_of_address">Comprovante ou declaração de residência</label>

                    {% if documents.proof_of_address %}
                    <div class="row" id="edit-proof_of_address">
                        <div class="col-md-9">
                            {% if status.proof_of_address == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.proof_of_address_name}}
                            </p>
                            {% elif status.proof_of_address == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.proof_of_address_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.proof_of_address_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.proof_of_address.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status(this, event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status(this, event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                            {% if status.proof_of_address %}
                            <input type="hidden" name="proof_of_address" value="{{ status.proof_of_address }}">
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-proof_of_address">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <form action={% url 'save_observation' student.id %} method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            {% render_field observation_form.proof_of_address_observation class="form-control" id="proof_of_address-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save" aria-hidden="true"></i>
                            Salvar
                        </button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %} <script src="{% static 'student/js/student.js' %}"></script> {% endblock %}