{% extends 'main/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Aluno - Editar{% endblock %}
{% block page_title %}<i class="fas fa-user-graduate"></i> Aluno: {{ student.name }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'student/css/student.css' %}"> {% endblock %}

{% block content %}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h5 class="card-title my-auto">Análise de documentação do aluno</h5>
    </div>
    <div class="card-body">
        <form action={% url 'link_in_class' student.id %} method="post" id="link_class">
            {% csrf_token %}

            <input type="hidden" name="classes_name" value="{{ student.classes.id }}">
        </form>

        <form action={% url 'status_update' student.id %} method="POST" id="status_doc_update" class="d-none">
            {% csrf_token %}

            {% for field in status_form.visible_fields %}
            {{ field|add_class:'form-control'|attr:"type:hidden" }}
            {% endfor %}
        </form>

        <form action={% url 'save_observation' student.id %} method="POST" id="save_observation">
            {% csrf_token %}

            <input type="hidden" name="student" value="{{ student.id }}">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        <i class="fas fa-clipboard mr-2"></i>
                        Ficha de inscrição
                    </h5>
                    <p>
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                        Baixe aqui a ficha de inscrição do aluno com as informações preenchidas no cadastro. (SEM
                        ASSINATURA)
                    </p>
                    <a href="/media/student/{{student.id}}/ficha_cadastral_tramite.pdf" class="btn btn-success"
                        download>
                        <i class="fas fa-download" aria-hidden="true"></i>
                        Baixar ficha sem assinatura
                    </a>
                </div>

                <div class="col-md-12 mt-4">
                    <h5>
                        <i class="fas fa-envelope mr-2" aria-hidden="true"></i>
                        Enviar email
                    </h5>
                    <p>
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                        Avise o seu aluno através do email (verifique a caixa de spam)
                    </p>

                    <a href={% url 'send_aprove_email' student.id %} class="btn btn-success">
                        <i class="fas fa-check" aria-hidden="true"></i>
                        Documentação aprovada
                    </a>
                    <a href={% url 'send_pending_email' student.id %} class="btn btn-danger">
                        <i class="fas fa-clock" aria-hidden="true"></i>
                        Pendências na documentação
                    </a>
                </div>

                <div class="col-md-12 mt-4">
                    <h5>
                        <i class="fas fa-th mr-2" aria-hidden="true"></i>
                        Vincular aluno ao curso
                    </h5>
                    <p>
                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                        Selecione o curso para qual o aluno irá participar (baseado no ID)
                    </p>
                </div>
                <div class="col-md-10">
                    {% if student.classes %}
                    <a href="#" id="edit-link-class" class="text-decoration-underline">
                        {{ student.classes }}
                        <i class="fas fa-edit ml-2" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    <div class="form-group" id="select-class-div" {% if student.classes %} style="display: none;"
                        {% endif %}>
                        {% render_field student_form.classes class="form-control" id="class-name-select" %}
                    </div>

                </div>

                <div class="col-md-2" id="link-class-button" {% if student.classes %} style="display: none;"
                    {% endif %}>
                    <button type="submit" class="btn btn-primary" id="in_class">Vincular</button>
                </div>

                <!-- registration -->
                <div class="col-md-12 divisor mt-3 divisor mt-4">
                    <label for="doc-registration_form">Ficha de matrícula</label>

                    {% if documents.registration_form %}
                    <div class="row" id="edit-registration_form">
                        <div class="col-md-9">
                            {% if status.registration_form == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.registration_form_name}}
                            </p>
                            {% elif status.registration_form == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.registration_form_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.registration_form_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.registration_form.url }}" class="btn btn-info mb-3"
                                onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('registration_form', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('registration_form', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-registration_form">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.registration_form_observation class="form-control" id="registration_form-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- identity -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-identity">Documento de identidade (RG e CPF)</label>

                    {% if documents.identity %}
                    <div class="row" id="edit-identity">
                        <div class="col-md-9">
                            {% if status.identity == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.identity_name}}
                            </p>
                            {% elif status.identity == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.identity_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.identity_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.identity.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('identity', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('identity', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-identity">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.identity_observation class="form-control" id="identity-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- cnh -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-cnh">Carteira Nacional de Habilitação (CNH)</label>

                    {% if documents.cnh %}
                    <div class="row" id="edit-cnh">
                        <div class="col-md-9">
                            {% if status.cnh == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.cnh_name}}
                            </p>
                            {% elif status.cnh == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.cnh_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.cnh_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.cnh.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('cnh', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('cnh', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-cnh">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.cnh_observation class="form-control" id="cnh-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- criminal -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-criminal">Certidão Criminal do Tribunal de Justiça Estadual</label>

                    {% if documents.criminal %}
                    <div class="row" id="edit-criminal">
                        <div class="col-md-9">
                            {% if status.criminal == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.criminal_name}}
                            </p>
                            {% elif status.criminal == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.criminal_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.criminal_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.criminal.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('criminal', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('criminal', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-criminal">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.criminal_observation class="form-control" id="criminal-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- distribution_criminal -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-distribution_criminal">Certidão de Distribuição para Fins Gerais do Tribunal de
                        Justiça Federal</label>

                    {% if documents.distribution_criminal %}
                    <div class="row" id="edit-distribution_criminal">
                        <div class="col-md-9">
                            {% if status.distribution_criminal == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.distribution_criminal_name}}
                            </p>
                            {% elif status.distribution_criminal == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.distribution_criminal_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.distribution_criminal_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.distribution_criminal.url }}"
                                class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('distribution_criminal', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('distribution_criminal', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>


                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-distribution_criminal">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.distribution_criminal_observation class="form-control" id="distribution_criminal-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- basic_avsec_certificate -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-basic_avsec_certificate">Certificado do curso Básico Avsec</label>

                    {% if documents.basic_avsec_certificate %}
                    <div class="row" id="edit-basic_avsec_certificate">
                        <div class="col-md-9">
                            {% if status.basic_avsec_certificate == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.basic_avsec_certificate_name}}
                            </p>
                            {% elif status.basic_avsec_certificate == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.basic_avsec_certificate_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.basic_avsec_certificate_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.basic_avsec_certificate.url }}"
                                class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('basic_avsec_certificate', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('basic_avsec_certificate', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>


                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-basic_avsec_certificate">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.basic_avsec_certificate_observation class="form-control" id="basic_avsec_certificate-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- cnv -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-cnv">Carteira Nacional de Vigilante (CNV)</label>

                    {% if documents.cnv %}
                    <div class="row" id="edit-cnv">
                        <div class="col-md-9">
                            {% if status.cnv == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.cnv_name}}
                            </p>
                            {% elif status.cnv == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.cnv_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.cnv_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.cnv.url }}" class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('cnv', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('cnv', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-cnv">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.cnv_observation class="form-control" id="cnv-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- pilot_license -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-pilot_license">Habilitação de piloto ou comissaria</label>

                    {% if documents.pilot_license %}
                    <div class="row" id="edit-pilot_license">
                        <div class="col-md-9">
                            {% if status.pilot_license == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.pilot_license_name}}
                            </p>
                            {% elif status.pilot_license == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.pilot_license_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.pilot_license_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.pilot_license.url }}" class="btn btn-info mb-3"
                                onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('pilot_license', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('pilot_license', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-pilot_license">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.pilot_license_observation class="form-control" id="pilot_license-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- forwarding_in_service -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-forwarding_in_service">Carta de encaminhamento em serviço</label>

                    {% if documents.forwarding_in_service %}
                    <div class="row" id="edit-forwarding_in_service">
                        <div class="col-md-9">
                            {% if status.forwarding_in_service == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.forwarding_in_service_name}}
                            </p>
                            {% elif status.forwarding_in_service == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.forwarding_in_service_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.forwarding_in_service_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.forwarding_in_service.url }}"
                                class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('forwarding_in_service', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('forwarding_in_service', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>


                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-forwarding_in_service">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <div class="form-group">
                        {% render_field observation_form.forwarding_in_service_observation class="form-control" id="forwarding_in_service-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>
                </div>

                <!-- work_card -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-work_card">Cópia da carteira de trabalho</label>

                    {% if documents.work_card %}
                    <div class="row" id="edit-work_card">
                        <div class="col-md-9">
                            {% if status.work_card == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.work_card_name}}
                            </p>
                            {% elif status.work_card == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.work_card_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.work_card_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.work_card.url }}" class="btn btn-info mb-3"
                                onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('work_card', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('work_card', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-work_card">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.work_card_observation class="form-control" id="work_card-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- avsec_certificate -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-avsec_certificate">Certificado de formação Avsec</label>

                    {% if documents.avsec_certificate %}
                    <div class="row" id="edit-avsec_certificate">
                        <div class="col-md-9">
                            {% if status.avsec_certificate == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.avsec_certificate_name}}
                            </p>
                            {% elif status.avsec_certificate == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.avsec_certificate_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.avsec_certificate_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.avsec_certificate.url }}" class="btn btn-info mb-3"
                                onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('avsec_certificate', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('avsec_certificate', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-avsec_certificate">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.avsec_certificate_observation class="form-control" id="avsec_certificate-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- certified_high_school -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-certified_high_school">Comprovante de conclusão de ensino médio</label>

                    {% if documents.certified_high_school %}
                    <div class="row" id="edit-certified_high_school">
                        <div class="col-md-9">
                            {% if status.certified_high_school == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.certified_high_school_name}}
                            </p>
                            {% elif status.certified_high_school == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.certified_high_school_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.certified_high_school_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.certified_high_school.url }}"
                                class="btn btn-info mb-3" onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('certified_high_school', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('certified_high_school', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>


                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-certified_high_school">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">


                    <div class="form-group">
                        {% render_field observation_form.certified_high_school_observation class="form-control" id="certified_high_school-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>

                </div>

                <!-- proof_of_address -->
                <div class="col-md-12 divisor mt-3">
                    <label for="doc-proof_of_address">Comprovante ou declaração de residência</label>

                    {% if documents.proof_of_address %}
                    <div class="row" id="edit-proof_of_address">
                        <div class="col-md-9">
                            {% if status.proof_of_address == 'APROVADO' %}
                            <p class="text-success text-bold">
                                <i class="fas fa-check" aria-hidden="true"></i>
                                {{status.proof_of_address_name}}
                            </p>
                            {% elif status.proof_of_address == 'RECUSADO' %}
                            <p class="text-danger text-bold">
                                <i class="fas fa-times" aria-hidden="true"></i>
                                {{status.proof_of_address_name}}
                            </p>
                            {% else %}
                            <p class="text-warning text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                {{status.proof_of_address_name}}
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-md-3 text-right">
                            <a target="_blank" href="{{ documents.proof_of_address.url }}" class="btn btn-info mb-3"
                                onclick="">
                                <i class="fas fa-file"></i>
                                Visualizar
                            </a>
                            <button class="btn btn-success mb-3" onclick="update_field_status('proof_of_address', event, 'APROVADO')">
                                <i class="fas fa-check"></i>
                            </button>
                            <button class="btn btn-danger mb-3" onclick="update_field_status('proof_of_address', event, 'RECUSADO')">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="row" id="edit-proof_of_address">
                        <div class="col-md-9">
                            <p class="text-muted text-bold">
                                <i class="fas fa-clock" aria-hidden="true"></i>
                                Aguardando envio...
                            </p>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-12 text-right">
                    <div class="form-group">
                        {% render_field observation_form.proof_of_address_observation class="form-control" id="proof_of_address-comments" placeholder="Escreva aqui uma observação para a documentação do seu aluno." rows="3" %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %} <script src="{% static 'student/js/student.js' %}"></script> {% endblock %}