{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li role="alert" {% if message.tags %}class="alert alert-{{message.tags}}" {% endif %}>
            {% if message.tags == 'error' %}
            <i class="fas fa-exclamation-triangle mr-2"></i>
            {% endif %}

            {% if message.tags == 'info' %}
            <i class="fas fa-exclamation-circle mr-2"></i>
            {% endif %}

            {% if message.tags == 'success' %}
            <i class="fas fa-check-circle mr-2"></i>
            {% endif %}

            {{message}}
        </li>
        {% endfor %}
    </ul>
{% endif %}